/* style.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #333;
}



/* Input and Select Styles */
input[type="text"], select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Button Styles */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
}

button:hover {
    background-color: #0056b3;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

/* Edit and Delete Button Styles */
li button {
    background-color: #28a745;
    margin-left: 5px;
}

li button:hover {
    background-color: #218838;
}

li button:nth-child(2) {
    background-color: #dc3545;
}

li button:nth-child(2):hover {
    background-color: #c82333;
}